#wrap{
	width: 700px;
	height: 540px;
	background-color: #04356C;
}
#main_game{
	width:600px;
	height: 440px;
	background-color: rgb(94,109,168);
	margin-left: 10px;
}
#playerchat{
	widht:700px;
	height:100px;
	background-color: #687AD3;
}
#gamelabel{
	margin-left: 30px;
	padding-top: 20px;
	width: 600px;
	height: 90px;
	background-color: #0D567A6;
	font-size: 40px;
	font-style: italic;
}
#밀어내기{
	height: 100px;
}
#charnono{
	width:200px;
	font-size: 10px;
}
#greem{
	width:540px;
	height: 500px;
}
#character_select{
	
	display:block;
	margin-left:20px;
	width: 200px;
	height: 210px;
	background-color: #698AD3;
	float:left;
}
#playerchar{
	width: 70px;
	height: 70px;
	float:left;
}
#buttons{
	float:left;
}