html{color:#000;
	background:rgb(112,146,190);
	padding:20px 0;
	}
#wrap{
	width: 960px;
	margin:0 auto;
}
#main_content{
	position:relative;
	float: left;
}

#sidebar{
	margin-top: 15px;
	background:rgb(200,200,200);
	width:120px;
	float: left;
}
#login_box{
	margin-top: 15px;
	padding-top:15px;
	background-color:rgb(71,163,232);
	height: 150px;
}
#sns{
	background-color:rgb(71,163,232);
	height: 150px;
}
#menubar{
	float:none;
}
#menubar ul li{
	float: left;
	list-style: none;
	}
#menubar ul li a{
	color:#fff; background-color:#4682b4;
	
	display:block;
	width:120px;
	text-align:center;
	padding:0px 15px; 
	font: bold 12px/30px Tahoma;
	text-decoration:none;
	margin-right:1px;
}
#notice{
	margin-left: 10px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom:10px;
	padding-left: 20px;
	background-color:rgb(181,193,252);
	float: none;
}
#free_board{
	margin-left: 10px;
	padding-top: 20px;
	padding-bottom:10px;
	padding-left: 20px;
	background-color:rgb(181,193,252);
	float: none;
}
#sign_up{
	margin-left: 10px;
	padding-top: 20px;
	padding-bottom:10px;
	padding-left: 20px;
	background-color:rgb(181,193,252);
	position: relative;
	float: none;
}